<%- include("header") -%>

<div class="wrapper-wrapper">
  <div class="wrapper">
    <section id="heading">
      <h1>Oops! Looks like there was an error!</h1>
    </section>
    <section id="body">
      <div class="container">
        <h4>Error Code: <%=code%></h4>
        <h4>Try Again</h4>
      </div>
      <form action="/failure" method="post">
        <button class="button" type="submit" name="button">Return to home</button>
      </form>
    </section>
  </div>
  <div class="wrapper footer">
    <span class="name-text">© Yash Bijoor</span>
  </div>
</div>


<%- include("footer") -%>
